@model List<Portfolio>
@{
	int count = 0;
}
<div class="col-lg-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">


			<div class="table-responsive">
				<h4 class="card-title"> Portfolio</h4>
				<a class="btn btn-inverse-success" asp-action="Create" asp-controller="Portfolio" >Create</a>
				<table class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>Image</th>
							<th>Name</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>

						@foreach (Portfolio portfolio in Model)
						{
							count++;
							<tr>
								<td>@count</td>
								<td> <img style="height:125px;width:125px;" src="~/assets/img/Aqil/@portfolio.Image" /> </td>
								<td>@portfolio.Name</td>
								<td>

									<a class="btn btn-inverse-warning" asp-action="Update" asp-controller="Portfolio" asp-route-id="@portfolio.Id">Update</a>
									<a class="btn btn-inverse-danger" asp-action="Delete" asp-controller="Portfolio" asp-route-id="@portfolio.Id">Delete</a>
								</td>
							</tr>

						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>